html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    /* 垂直排列两个容器 */
    align-items: center;
    /* 水平居中 */
    /*     justify-content: center; /* 垂直居中 */
    min-height: 100vh;
    /* 确保最小高度为视口高度 */
}

.container {
    /* 根据实际内容自动调整 */
    margin: 20px 0;
    /* 与名片容器保持间距 */
    padding: 10px;
    border: 5px solid #000000;
    border-radius: 10px;
}

#myForm {
    display: flex;
    gap: 4px;
}

.rightAlign {
    margin-left: auto;
}

.nameCardWrapper {
    position: relative;
    margin: 20px 0;
    /* 与上方容器保持间距 */
    background: transparent;
}

.nameCardContainer {
    visibility: hidden;
    position: relative;
    display: inline-flex;
    /* 内容自适应 */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* 保证模糊背景不外溢 */
    background: transparent;

    border: 0px solid #00000000;
    /* 透明边框 */
    border-radius: 10px;
    /* JS需覆盖此值 */
}

.backgroundOverlay {
    position: absolute;
    top: -10px;
    /* 高斯模糊 */
    left: -10px;
    /* 高斯模糊 */
    width: calc(100% + 20px);
    /* 高斯模糊 */
    height: calc(100% + 20px);
    /* 高斯模糊 */
    background: transparent;
    filter: blur(6px);
    /* 高斯模糊 */
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* 内容与边缘间距 */
    text-align: center;
}

#avatarImg {
    border-radius: 80px;
    display: block;
    /* 移除图片底部间隙 */
    margin-bottom: 12px;
    /* 与文字间距 */
    width: 256px;
    height: 256px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    /* 图片阴影 */
}

#usernameText {
    font-family: TorusSemiBold;
    margin: 0;
    /* 移除默认段落边距 */
    font-size: 42px;
    color: #ffffff;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
    /* 文字阴影 */
}

.toggle-container {
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}

.toggleCheck {
    display: none;
}

.toggleLabel {
    cursor: pointer;
    user-select: none;
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid #666;
    margin-right: 8px;
    transition: transform 0.2s;
}

.toggleCheck:checked~.container .triangle {
    transform: rotate(90deg);
}

.toggleCheck:checked~.container .toggleContentContainer {
    max-height: 9999px;
    opacity: 1;
    padding: 10px;
}

.toggleContentContainer {
    /* display: none; */
    margin-top: 10px;
    padding: 0;
    border-right: 2px solid #666;
    text-align: right;
    max-height: 0;
    opacity: 0;
    transition:
        max-height 0.2s ease-in-out,
        opacity 0.2s ease-in-out,
        padding 0.2s ease-in-out;
}

.optionalInputGroup {
    display: none;
}

.optionalInputGroup.visible {
    display: inline;
}